.msg {
    max-width: 80%;
    margin-top: 24px;
    align-self: flex-start;
}

.msgOwn {
    align-self: flex-end;
}

.msg > .msgTxt {
    padding: 12px;
    background: #F4F5F6;
    border-radius: 8px 8px 8px 2px;
    line-height: 1.5;
}

.msgOwn > .msgTxt {
    background: #4E42FF;
    color: #FFFFFF;
    border-radius: 8px 8px 2px 8px;
}